/*
 * Файл стилей для сайта
 * системы RageMP iTeffa
 * Автор: iTeffa.com
 */
 
body {margin:0px;color:#000;background-color: #fff;font-size:16px;font-weight:normal;font-family:Tahoma,sans-serif;}
.content {position: absolute;  top: 50%; left: 50%;transform: translate(-50%, -50%)}
.tabs > input[type="radio"] {display: none;}
.tabs > div {display: none;border: 1px #191 dotted;width:900px;height: 400px;padding: 10px 15px;font-size: 14px;}
.tabs > label {display: inline-block;text-align: center;vertical-align: middle;background-color: #f5f5f5; border: 1px solid #e0e0e0; margin: 2px;padding: 2px 8px;font-size: 16px;line-height: 1.5;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;cursor: pointer;}
.tabs > label:not(:first-of-type) {border-left: none;}
.tabs > input[type="radio"]:checked+label {background-color: #fff;border-bottom: 1px solid #fff;}
#tab-btn-1:checked~#content-1, #tab-btn-2:checked~#content-2, #tab-btn-3:checked~#content-3 {display: block;}
