<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ATM PROJECT ITEFFA</title>
  <link rel="stylesheet" href="./assets/css/atm.css">
</head>

<body>
  <div class="atm" v-if="active">
    <div class="left">
      <div class="number">
        <img src="https://cdn.iteffa.com/project/ragemp/icons/atm/number.png" class="png1">
        <p class="lex">Номер Счёта</p>
        <p id="number">{{number}}</p>
      </div>
      <div class="holder">
        <img src="https://cdn.iteffa.com/project/ragemp/icons/atm/holder.png" class="png1">
        <p class="lex">Владелец счёта</p>
        <p id="holder">{{holder}}</p>
      </div>
      <div class="balance">
        <img src="https://cdn.iteffa.com/project/ragemp/icons/atm/balance.png" class="png1">
        <p class="lex">В банке</p>
        <p id="balance">{{balance}}$</p>
      </div>
    </div>
    <div class="right">
      <div v-if="type == 1">
        <div class="blintik">
          <div @click="btn" id="0" class="block">
            <img src="https://cdn.iteffa.com/project/ragemp/icons/atm/shared.png" class="png2">
            <p id="0">Внести средства</p>
          </div>
          <div @click="btn" id="1" class="block1">
            <img src="https://cdn.iteffa.com/project/ragemp/icons/atm/received.png" class="png2">
            <p id="1">Вывести средства</p>
          </div>
          <div @click="btn" id="2" class="block2">
            <img src="https://cdn.iteffa.com/project/ragemp/icons/atm/home.png" class="png2">
            <p id="2">Внести налог за дом</p>
          </div>
          <div @click="btn" id="3" class="block3">
            <img src="https://cdn.iteffa.com/project/ragemp/icons/atm/store.png" class="png2">
            <p id="3">Внести налог за бизнес</p>
          </div>
          <div @click="btn" id="4" class="block4">
            <img src="https://cdn.iteffa.com/project/ragemp/icons/atm/article.png" class="png2">
            <p id="4">Перевести на другой счет</p>
          </div>
        </div>
        <div @click="btn" id="-1" class="block5">
          <p id="-1" style="padding: 7px;font-size: 19px;">Выйти</p>
        </div>
      </div>
      <div v-if="type == 2">
        <div class="blintik2">
          <div class="gern">
            <img src="https://cdn.iteffa.com/project/ragemp/icons/atm/dolla.png" class="png3">
            <input :placeholder="plholder" v-model="value" maxlength="7">
          </div>
          <div class="gern2">
            <div @click="next" id="next" class="block6">
              <p id="next">Далее</p>
            </div>
            <div @click="prev" id="prev" class="block7">
              <p id="prev">Отмена</p>
            </div>
          </div>
          <!-- <p class="subinfo">{{subdata}}</p> -->
        </div>
      </div>
      <div v-if="type == 3">
        <div v-for="(b, i) in subdata">
          <div @click="btn" :id="i" class="block8">
            <img src="https://cdn.iteffa.com/project/ragemp/icons/atm/store.png" class="png4">
            <p :id="i" class="lex1">{{b}}</p>
          </div>
        </div>
        <div @click="btn" id="-1" class="block5">
          <p id="-1">Выйти</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.iteffa.com/jquery/dist/jquery.min.js"></script>
  <script src="https://cdn.iteffa.com/vue/dist/vue.min.js"></script>
  <script src="package://game_resources/interface/assets/js/atm.js"></script>
</body>

</html>