<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>iTeffa</title>
    <style>
        body {
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            font-family: "Ubuntu", sans-serif;
            margin: 0;
        }

        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-track {
            background: #555;
        }

        ::-webkit-scrollbar-thumb {
            background: #ddd;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="package://game_resources/interface/assets/css/DrivingSchool.css">
    <link rel="stylesheet" href="package://cef/css/fmenu.css">
    <link rel="stylesheet" href="package://cef/fonts/icons.css">
    <script src='package://game_resources/interface/plugins/js/vue.js'></script>
</head>
<body style="display:none">
    <div class="StatsDrivingSchool" v-if="active" style="font-weight: 900;box-shadow: 0 0px 20px rgb(0 0 0 / 43%);border-right: 5px solid #fbb80499;top: 100px;right: 40px;color: white;background: #00000082;width: 200px;position: absolute;">
        <div style="font-size: 18px;text-align: center;padding: 8px 0px 10px 0px;background: black;">Целостность транспорта</div>
        <div style="text-align: left;padding: 10px;">
            <p style="margin:0px;">Корпус: {{bodyHealth}}/{{maxHealth}}</p>
            <p style="margin:0px;">Двигатель: {{engineHealth}}/{{maxHealth}}</p><br />
            <p style="margin:0px;">Если у вас корпус или двигатель будет меньше: {{minCarHe}} вы провалите экзамен</p>
        </div>
    </div>

    <div class="DrivingSchool" v-if="active">
        <div class="header"><h1>{{header}}</h1><i class="cancel" @click="exit"></i></div>
        <div class="content">
            <div v-if="str == 0" class="block">
                <div class="left">
                    <dir class="img"></dir>
                    <div v-on:click="page(1)" class="button2">Изучить вопросы</div>
                </div>
                <div class="right">
                    <div class="button" v-on:click="select(0)">Мотоциклы ({{money0}})</div>
                    <div class="button" v-on:click="select(1)">Легковые машины ({{money1}})</div>
                    <div class="button" v-on:click="select(2)">Грузовые машины ({{money2}})</div>
                    <div class="button" v-on:click="select(3)">Водный транспорт ({{money3}})</div>
                    <div class="button" v-on:click="select(4)">Вертолёты ({{money4}})</div>
                    <div class="button" v-on:click="select(5)">Самолёты ({{money5}})</div>
                </div>
            </div>
            <div v-else class="block">
                <div class="block-text">
                    <div class="title-text">Что такое ПДД</div>
                    <div class="content-text">ПДД: Это ....</div>
                </div>
                <div class="block-text">
                    <div class="title-text">Что такое ПДД</div>
                    <div class="content-text">ПДД: Это ....</div>
                </div>
                <div class="block-text">
                    <div class="title-text">Что такое ПДД</div>
                    <div class="content-text">ПДД: Это ....</div>
                </div>
            </div>
        </div>
    </div>

    <div class="DrivingSchoolTEST" v-if="active">
        <div class="header"><h1>{{header}}</h1><i class="cancel" @click="exit"></i></div>
        <div class="content">
            <div class="block">
                <div class="block-text">
                    <div class="title-text">Что такое ПДД?</div>
                    <div class="content-text">
                        <button class="buttontest">Правила дорожного движения</button>
                        <button class="buttontest">Правила дорожного депутата</button>
                    </div>
                </div>
                <div class="block-text"><div v-on:click="ok(1)" class="buttontestOK">Завершить тест</div></div>
            </div>
        </div>
    </div>
    <script src="package://cef/js/jquery-3.2.1.min.js"></script>
    <script src="package://cef/js/dial.js"></script>
    <script src="package://game_resources/interface/assets/js/DrivingSchool.js"></script>
</body>
</html>