<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./assets/css/infoped.css">
	<link rel="stylesheet" href="./assets/fonts/icons/style.css">
	<link rel="stylesheet" href="./assets/fonts/Phone/phone.css">
</head>
<body>
		<div id="infoped" class="infoped" v-if="active">
		<div class="bgshow"></div>
		<div class="exit_btn" @click="exit">
			<img src="package://game_resources/interface/assets/img/infoped/close.svg" alt="">
		</div>
        <div class="list_main" id="infoped_main" v-if="menu == 0">
			<div class="blockSpawn top dataimages"  data-src="package://game_resources/interface/assets/img/infoped/lic_bg.png" data-size="cover" style="background: url(&quot;img/infoped/lic_bg.png&quot;) center center / cover no-repeat;">
				<div class="cover"></div>
				<img src="package://game_resources/interface/assets/img/infoped/lic_take_icon.png" alt="" class="icon">
				<div class="title">Получение лицензии</div>
			</div>
			<div class="blockSpawn down dataimages" data-src="package://game_resources/interface/assets/img/infoped/factions_bg.png" data-size="cover" style="background: url(&quot;img/infoped/factions_bg.png&quot;) center center / cover no-repeat;">
				<div class="cover"></div>
				<img src="package://game_resources/interface/assets/img/infoped/lic_icon.png" alt="" class="icon">
				<div class="title">Фракции</div>
			</div>
			<div class="blockSpawn top dataimages" data-src="package://game_resources/interface/assets/img/infoped/carier_bg.png" data-size="cover" style="background: url(&quot;img/infoped/carier_bg.png&quot;) center center / cover no-repeat;">
				<div class="cover"></div>
				<img src="package://game_resources/interface/assets/img/infoped/jobs_icon.png" alt="" class="icon">
				<div class="title">Начальные работы</div>
			</div>
			<div class="blockSpawn down dataimages" data-src="package://game_resources/interface/assets/img/infoped/neft_bg.png" data-size="cover" style="background: url(&quot;img/infoped/neft_bg.png&quot;) center center / cover no-repeat;">
				<div class="cover"></div>
				<img src="package://game_resources/interface/assets/img/infoped/biz_icon.png" alt="" class="icon">
				<div class="title">Виды бизнесов</div>
			</div>
			<div class="blockSpawn top dataimages" data-src="package://game_resources/interface/assets/img/infoped/stroika_bg.png" data-size="cover" style="background: url(&quot;img/infoped/stroika_bg.png&quot;) center center / cover no-repeat;">
				<div class="cover"></div>
				<img src="package://game_resources/interface/assets/img/infoped/jobs_icon.png" alt="" class="icon">
				<div class="title">Компании</div>
			</div>
			<div class="blockSpawn down dataimages" data-src="package://game_resources/interface/assets/img/infoped/family_bg.png" data-size="cover" style="background: url(&quot;img/infoped/family_bg.png&quot;) center center / cover no-repeat;">
				<div class="cover"></div>
				<img src="package://game_resources/interface/assets/img/infoped/family_icon.png" alt="" class="icon">
				<div class="title">Семьи</div>
            </div>
        </div>
	</div>

  <!-- JS CDN Source Code -->
  <script src="https://cdn.iteffa.com/library/js/jquery/3.2.1.js"></script>
  <script src="https://cdn.iteffa.com/library/js/vuejs/2.6.12.js"></script>
  <script src="https://kit.fontawesome.com/c552bfdf6a.js" crossorigin="anonymous"></script>
  <!-- JS Local Source Code -->
    <script src="./assets/js/infoped.js"></script>
</body>

</html>