* {
    margin: 0;
    padding: 0;
}

.wraper {
    display: flex;
    min-height: -webkit-fill-available;
}

.box1, .box2, .box3 {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box1 {
    background-image: url(../images/1st.png);
    background-size: 100% 100%;
}

.box2 {
    background-image: url(../images/2nd.png);
    background-size: 100% 100%;
    margin: 0 1px;
}

.box3 {
    background-image: url(../images/3th.png);
    background-size: 100% 100%;
}

.respawnOnExit, .respawnFraction, .respawnHome {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    width: 81.75%;
    height: 49.6%;
    position: relative;
}

.text {
    margin-top: 4.75%;
    font-family: "UniNeueBook";
    color: #ffffff;
    font-size: 2.6vw;
    line-height: 5.6vh;
    text-align: center;
}

.respawnOnExit p span, .respawnFraction p span, .respawnHome p span {
    font-family: "UniNeueBold";
}

.logoImages {
    display: block;
    width: 27.42%;
}

.textDescription {
    font-family: "UniNeueRegular";
    font-size: 1vw;
    color: #ffffff;
    margin-top: 4.7%;
    text-align: center;
}

.button {
    width: 71.5%;
    height: 13.33%;
    font-family: "UniNeueRegular";
    font-size: 1vw;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 35px;
    background: none;
    margin-top: 60px;
    transition: 0.5s;
}

    .button:hover {
        box-shadow: 0 19px 50px rgba(134, 2, 2, 0.73);
        background-color: #f13939;
        border: 2px solid #f13939;
    }

.noBox2 {
    /*display: flex;*/
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../images/no2nd.png);
    background-size: 100% 100%;
    margin: 0 1px;
}

.noHome, .noFraction {
    width: 81.75%;
    height: 35.18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.notext {
    font-family: "UniNeueBook";
    color: #c4c4c4;
    font-size: 2vw;
    line-height: 4vh;
    text-align: center;
}

.noBox3 {
    /*display: flex;*/
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../images/no3th.png);
    background-size: 100% 100%;
}

.noText span {
    font-family: "UniNeueBold";
}

.lockImg {
    height: 39.14%;
    position: absolute;
    bottom: 0px;
}
