.wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #81838E;
  user-select: none;
  color: #fff;
}
.wrapper header {
	background: rgba(0, 0, 0, 0.75);
    background-image: url(../../img/logotype/favicon.png);
    background-repeat: no-repeat;
    text-align: left;
    vertical-align: middle;
    line-height: normal;
    border-radius: 4px;
    font-size: 18px;
    color: #81838E;
    padding: 10px;
    background-size: 30px;
    background-position: 10px 50%;
    border-bottom: 1px solid #15161b;
}
.wrapper .content {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  width: 400px;
  height: 680px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0px 0px 20px 0px #111214;
}
.wrapper .text-left {
    margin-left: 40px
}
.wrapper .icon-cancel {
    float: right;
    color: #ff0000;
}
.wrapper .title {
    background: rgba(108, 108, 108, 0.2);
    height: 30px;
    display: flex;
    
}
.wrapper .title p {
    margin-top: 4px;
    text-align: center;
	font-size: 15px;
	color: #00cd6b;
	font-weight: 900;
	margin-top: 2px;
}
.wrapper .users {
	background: rgba(200, 200, 200, 0.2);
	height: 24px;
    display: flex;
    margin-top: 1px;
    font-size: 15px;
}
.wrapper .users p {
    margin-top: 3.5px;
    text-align: center;
	color: #fff;
}
.wrapper .fade {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
}
.wrapper footer {
	position: relative;
	background: rgba(0, 0, 0, 0.75);
    background-repeat: no-repeat;
    text-align: left;
    vertical-align: middle;
    line-height: normal;
    border-radius: 4px;
    font-size: 18px;
    color: #81838E;
    padding: 10px 20px;
    background-size: 30px;
    background-position: 10px 50%;
    border-bottom: 1px solid #15161b;
	justify-content: flex-end; 
}
.wrapper .scroll {
overflow-y: scroll;
}











.modal-window .cmdlist {
  max-height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 5px 0px 5px;
  overflow-y: scroll;
}
.cmdlist div {
  position: relative;
  height: 45%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #131316;
  margin: 10px 10px;
  padding: 8px;
  padding-bottom: 0px;
  color: #81838E;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 1);
  box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 1);
}

.cmdlist div span {
  position: relative;
  display: flex;
}

.cmdlist div p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
.cmdlist div span input {
  font-size: 1em;
  color: rgba(255, 255, 255, .65);
  background: #18191D;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 100%;
  text-align: center;
}

.btnModal {
  width: 120px;
  font-size: 0.8em;
  padding: 4px 24px;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 255, 255, .9);
  transition: background .2s;
  background:
    linear-gradient(to bottom, #066193 5%, #044879 100%);
  background-color: #007dc1;
  border: 1px solid #124d77;
  clip-path: polygon(0, 0, 0) !important;
}
.btnModal:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}

.btnGps {
  filter: hue-rotate(-85deg);
  width: 120px;
  font-size: 0.85em;
  padding: 4px 20px;
}




















::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #1D2027;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #066193 5%, #044879 100%);
  border-radius: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}