.developer {position: absolute;background: url('https://cdn.iteffa.com/project/ragemp/img/branch/bgshow.png');box-shadow: inset 0 0 678px 586px rgb(29 27 40 / 60%);background-size: 100% 100%;width: 100%;height: 100%;top: 0;left: 0;transition: all .54s;}
.wrapper {position: fixed; left: 0; top: 0; height: 100%; border-right: 1px solid #ffffff38; width: 27vh; top: -0.5px;}
.wrapper .name-branch {text-align:center;}
.wrapper .name-branch h1 {font-weight: 500;color: #b3ff20;font-size: 2.6vh;}
.wrapper .name-branch h1 b {font-weight: 400;color: #ffffff;}
.wrapper .wallet {text-align:center; margin-bottom: 1vh; margin-left: 25px}
.wrapper .wallet .ibank {font-size: 2.7vh; font-weight: 100; color: white;}
.wrapper .wallet .money {font-size: 2.7vh; font-weight: 100; color: white; color: #b3ff20;}
.wrapper .wallet .partition {border-right: 1px solid #ffffff14; padding-right: 1vh;}
.wrapper .wallet .partition2 {padding-left: 7px;}
.wrapper .wallet .desc {font-weight: 100; font-size: 1.3vh;color: #ffffff91;}
.wrapper ul {max-height: 725px; margin: 0; padding: 0; overflow-y: scroll; color: #333333; list-style-type: none;}
.wrapper ul li {color: white;transition: all .68s;}
.wrapper ul li div {margin: 2px;padding: 10px}
.wrapper ul li div:hover {color: black;border: none;background: #81bd0c;transition: all .98s;background-blend-mode: difference;}
.wrapper ul li div:active {color: black;border: none;background: #81bd0c;transition: all .98s;background-blend-mode: difference;}
.wrapper .separator {border-bottom: 1px solid #ffffff14; display: block; }
.wrapper .linkexit {color: white; transition: all .68s;padding: 18px; color: white;}
.wrapper .linkexit:hover {color: black;border: none;background: #81bd0c;transition: all .98s;background-blend-mode: difference;}
.wrapper .icons {margin: -6px; padding-right: 10px;}
.wrapper .decor-green {position: fixed;width: 20vh;height: 15vh;background: #b3f336;bottom: -6vh;left: 5.1vh;transform: skew(36deg) rotate(-11deg);}
.wrapper .decor-white {position: fixed;width: 24vh;height: 15vh;background: #ffffff;bottom: -5vh;left: -10vh;transform: skew(36deg) rotate(-9deg);}

::-webkit-scrollbar {width: 0px;}
::-webkit-scrollbar-track {background: #555;}
::-webkit-scrollbar-thumb {background: #ddd;}

@media (max-width: 1300px) {
  .wrapper {zoom: 70%}
}
@media (min-width: 1301px) and (max-width: 1400px) {
  .wrapper {zoom: 80%}
}
@media (min-width: 1401px) and (max-width: 1650px) {
  .wrapper {zoom: 80%}
}
@media (min-width: 1651px) and (max-width: 2560px) {
  .wrapper {zoom: 100%}
}