<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PROJECT ITEFFA</title>
    <link rel="stylesheet" href="./assets.css">
  </head>
  <body>
    <div class="developer"></div>
    <div class="wrapper">
      <div class="name-branch">
        <h1>Магазин <b>24/7<b></h1>
      </div>
      <table class="wallet">
        <tr>
          <td class="ibank partition">000000</td>
          <td class="money partition2">$ 25 000</td>
        </tr>
        <tr class="desc">
          <td>Номер счёта</td>
          <td>Деньги на счёте</td>
        </tr>
      </table>
      <div class="separator"></div>
      <div class="list1">
        <ul>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
          <li>
            <div>Вывод товара</div>
          </li>
        </ul>
      </div>
      <div class="separator"></div>
      <div class="linkexit"><img class="icons" src="https://cdn.iteffa.com/project/ragemp/icons/branch/exit.png"> Выйти</div>
      <div class="decor-green"></div>
      <div class="decor-white"></div>
    </div>
  <body>
</html>