.DrivingSchool {
    box-shadow: 0 0px 50px rgb(0 0 0 / 30%);
    border-left: 5px solid #fbb80499;
    position: absolute;
    width: 800px;
    height: 400px;
    background-color: #545454;
    left: 50%;
    margin-left: -385px;
    top: 50%;
    margin-top: -275px;
    max-height: 550px;
    overflow: hidden;
}

    .DrivingSchool .header {
        height: 70px;
        width: 100%;
        color: white;
        border-radius: 0px 5px 0px 0px;
        font-weight: 900;
        background: #000000;
        font-size: 20px;
        margin: 0px;
        font-family: 'Montserrat', sans-serif;
    }

    .DrivingSchool .content {
        padding: 5px;
        margin: 10px;
        color: white;
    }

        .DrivingSchool .content p {
            margin: 0;
            margin-bottom: 8px;
        }

    .DrivingSchool .buttons {
        padding: 5px;
    }

    .DrivingSchool .block {
        height: 300px;
        overflow: hidden;
        overflow-y: scroll;
    }

    .DrivingSchool .header i {
        padding: 15px;
        float: right;
        font-family: icons;
        font-size: 16pt;
        margin: 10px;
        cursor: pointer;
        font-style: normal;
    }

    .DrivingSchool .header h1 {
        padding: 15px;
        margin: 0px;
        width: 100%;
        float: left;
    }

    .DrivingSchool .left {
        width: 440px;
        float: left;
    }

    .DrivingSchool .img {
        margin: 0px;
        height: 242px;
        background: #505050;
    }

    .DrivingSchool .button2 {
        text-align: center;
        box-shadow: 0px 3px 0px rgb(0 0 0 / 29%);
        margin-top: 8px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 900;
        border-radius: 3px;
        padding-bottom: 9px;
        padding-top: 9px;
        background: #444444;
    }

    .DrivingSchool .right {
        margin-right: 5px;
        text-align: center;
        width: 250px;
        float: right;
    }

    .DrivingSchool .button {
        box-shadow: 0px 3px 0px rgb(0 0 0 / 29%);
        margin-bottom: 8px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 900;
        border-radius: 3px;
        padding-bottom: 9px;
        padding-top: 9px;
        background: #444444;
    }

        .DrivingSchool .button:hover,
        .DrivingSchool .button2:hover {
            background: #333333;
        }

    .DrivingSchool .imgblock {
        box-shadow: 0 0 10px rgb(0 0 0 / 11%);
        float: left;
    }

    .DrivingSchool img {
        width: 100%;
        width: 400px;
    }

    .DrivingSchool .block-text {
        box-shadow: 0 4px 10px #0000003d;
        width: 740px;
        margin-bottom: 15px;
    }

    .DrivingSchool .title-text {
        font-size: 23px;
        background: #484848;
        font-weight: 900;
        padding: 10px;
    }

    .DrivingSchool .content-text {
        font-size: 19px;
        padding: 10px;
        background: #0000000d;
    }





.DrivingSchoolTEST {
    box-shadow: 0 0px 50px rgb(0 0 0 / 30%);
    border-left: 5px solid #fbb80499;
    position: absolute;
    width: 800px;
    height: 400px;
    background-color: #545454;
    left: 50%;
    margin-left: -385px;
    top: 50%;
    margin-top: -275px;
    max-height: 550px;
    overflow: hidden;
}

    .DrivingSchoolTEST .header {
        height: 70px;
        width: 100%;
        color: white;
        border-radius: 0px 5px 0px 0px;
        font-weight: 900;
        background: #000000;
        font-size: 20px;
        margin: 0px;
        font-family: 'Montserrat', sans-serif;
    }

    .DrivingSchoolTEST .content {
        padding: 5px;
        margin: 10px;
        color: white;
    }

        .DrivingSchoolTEST .content p {
            margin: 0;
            margin-bottom: 8px;
        }

    .DrivingSchoolTEST .block {
        height: 300px;
        overflow: hidden;
        overflow-y: scroll;
    }

    .DrivingSchoolTEST .header i {
        padding: 15px;
        float: right;
        font-family: icons;
        font-size: 16pt;
        margin: 10px;
        cursor: pointer;
        font-style: normal;
    }

    .DrivingSchoolTEST .header h1 {
        padding: 15px;
        margin: 0px;
        width: 100%;
        float: left;
    }

    .DrivingSchoolTEST .block-text {
        width: 740px;
        margin-bottom: 15px;
    }

    .DrivingSchoolTEST .title-text {
        border-left: 1px solid #f39d08;
        font-size: 23px;
        background: #484848;
        font-weight: 900;
        padding: 10px;
    }

    .DrivingSchoolTEST .content-text {
        margin-left: 10px;
        margin-top: 10px;
    }

    .DrivingSchoolTEST .buttontest {
        border: none;
        color: white;
        background: #3c3c3c;
        padding: 7px;
        font-size: 18px;
        font-weight: 700;
    }

        .DrivingSchoolTEST .buttontest:hover {
            border: none;
            color: #ffffffbd;
        }

    .DrivingSchoolTEST .buttontestOK {
        text-align: center;
        border: none;
        color: white;
        background: #3c3c3c;
        padding: 7px;
        font-size: 30px;
        font-weight: 700;
        margin-top: 10px;
    }

        .DrivingSchoolTEST .buttontestOK:hover {
            border: none;
            color: #ffffffbd;
        }
