body {
    position: absolute;
    font-family: Uni Neue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10pt;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    user-select: none;
  }
  
  .wrapper {
    width: 1600px;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ticketfull {
    width: 850px;
    height: 800px;
    background: rgba(36, 36, 36, 0.9);
    border-radius: 4px;
    display: flex;
  }
  
  .logo {
    font-family: Uni Neue;
    position: absolute;
    left: 710px;
    top: 65px;
    font-size: 24pt;
    color: #fff
  }
  
  .swglogo {
    margin-top: -10px;
    margin-left: -35px;
  }
  
  #buttonswgclose {
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  button:focus {
    outline: none;
  }
  
  .buttonone,
  .buttononek,
  #buttonclose {
    cursor: pointer;
  }
  
  button.buttonone:focus {
    background: rgba(44, 126, 52, 0.9);
  }
  
  button.buttononek:focus {
    background: rgba(122, 45, 45, 0.9);
  }
  
  button:hover svg {
    transform: scale(1.1);
  }
  
  button::-moz-focus-inner {
    border: 0;
  }
  
  svg {
    outline: none;
    transition: transform 0.3s linear;
  }
  
  .ticketinside {
    width: 850px;
    height: 730px;
    margin-top: 70px;
    background: rgba(36, 36, 36, 0.9);
    border-radius: 0px 0px 4px 4px;
    display: flex;
  }
  
  .report {
    width: 400px;
    height: 730px;
    margin: left;
    background: rgba(29, 29, 29, 0.9);
    border-radius: 0px 0px 4px 4px;
  }
  
  .report p.reporttext {
    text-align: center;
    font-weight: bold;
  }
  
  .onereport {
    width: 400px;
    height: 100px;
    background: rgba(58, 58, 58, 0.9);
    border-radius: 0px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .reportinfo {
    display: flex;
    margin-left: 21px;
  }
  
  .reportinfo p {
    margin-right: 5px;
    letter-spacing: 0.03em;
    font-weight: bold;
  }
  
  p.tasknumber {
    color: #BC3A3A;
  }
  
  p.taskuser {
    color: #80C57A;
  }
  
  .reporttasks {
    margin-left: 21px;
    max-width: 380px;
    margin-top: -20px;
  }
  
  .reporttasks p {
    text-align: left;
    letter-spacing: 0.03em;
  }
  
  .adminname {
    padding-right: 26px;
  }
  
  .adminname p {
    color: #BCA73A;
    font-weight: bold;
    text-align: right;
  }
  
  .blockadmins {
    position: static;
    margin-top: -107px;
    margin-left: 391px;
  }
  
  .boxes {
    height: 633px;
    width: 400px;
    overflow: hidden;
  }
  
  .boxreports {
    width: 100%;
    height: 100%;
    padding: 0 25px 0 0;
    overflow: auto;
  }
  
  .answer {
    width: 400px;
    height: 730px;
    margin-left: 50px;
    background: rgba(29, 29, 29, 0.9);
    border-radius: 0px 0px 4px 4px;
  }
  
  .answer p.reporttext {
    text-align: center;
    font-weight: bold;
  }
  
  .answertoquestion {
    width: 400px;
    height: 60px;
    position: absolute;
    top: 725px;
    background: rgba(58, 58, 58, 0.9);
    border-radius: 0px 0px 4px 4px;
  }
  
  .textquestion {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .user {
    border: none;
  }
  
  textarea {
    border-style: none;
    background: rgba(58, 58, 58, 0.0);
    width: 370px;
    height: 30px;
    resize: none;
  }
  
  textarea:focus,
  input:focus {
    outline: none;
  }
  
  textarea.user {
    color: white;
  }
  
  .buttonquestion {
    display: flex;
  }
  
  .buttonone {
    width: 191px;
    height: 50px;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-family: Uni Neue;
    background: rgba(60, 175, 71, 0.9);
  }
  
  .buttononek {
    width: 191px;
    height: 50px;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-family: Uni Neue;
    background: rgba(175, 60, 60, 0.9);
  }
  
  .butabs {
    position: absolute;
    margin-left: 6px;
    margin-top: -12px;
  }
  
  .butabr {
    position: absolute;
    margin-left: 203px;
    margin-top: -12px;
  }
  
  .templ {
    width: 400px;
    height: 30px;
    background: rgba(58, 58, 58, 0.9);
    border-radius: 0px;
    margin-bottom: 10px;
  }
  
  .templ {
    display: flex;
    align-items: center;
  }
  
  .templ p {
    text-align: center;
  }
  
  .templtext {
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .close p button {
    width: 30px;
    height: 30px;
    background: #A33C3C url(../img/cancel.png) no-repeat;
    border: none;
    background-size: 12px 12px;
    background-position: center;
    display: none;
  }
  
  #buttonclose:focus {
    background: rgba(122, 45, 45, 0.9) url(../img/cancel.png) no-repeat;
    background-size: 12px 12px;
    background-position: center;
  }
  
  .templ:hover .close p button {
    display: block;
  }
  
  .infotempltxt {
    letter-spacing: 0.03em;
    color: #FFFFFF;
    opacity: 0.2;
  }