@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900i&display=swap");
@font-face {font-family: ProximaNova; src: url(../fonts/ProximaNova/ProximaNova-Regular.woff); font-weight: 400; font-style: normal; font-display: swap}
@font-face {font-family: ProximaNova; src: url(../fonts/ProximaNova/ProximaNova-Semibold.woff); font-weight: 500; font-display: swap}
@font-face {font-family: ProximaNova; src: url(../fonts/ProximaNova/ProximaNova-Light.woff); font-weight: 100; font-display: swap}
@font-face {font-family: ProximaNova; src: url(../fonts/ProximaNova/ProximaNova-Bold.woff); font-weight: 900; font-style: normal; font-display: swap}
@font-face {font-family: ProximaNova; src: url(../fonts/ProximaNova/ProximaNova-Extrabld.woff); font-weight: 700; font-style: normal; font-display: swap}

body {font-family: ProximaNova,sans-serif; user-select: none;}

.inGameHud {position: absolute;margin: 0 auto;font-family: Uni Neue;line-height: normal;width: 100%;height: 100%;}
.iTeffa {user-select:none;-moz-user-select: none;-webkit-user-select:none;overflow:hidden;margin:0;}
.iTeffa p {margin: 0;}
.iTeffa #effect {position:absolute;left:0;top: 0;}
.iTeffa #safezone {position:absolute; top:0;bottom:0;left:0;right: 0;}
.iTeffa .beta {position: absolute; font-family: Uni Neue;font-size: 12px;color: #fff;top: 1.3%; left: 50%; margin-right: -50%; transform: translate(-50%, -1.3%)}
.iTeffa .logobox {position: absolute; flex-direction:column; top: 15px; right:15px;}
.iTeffa .logobox .copyright {font-size:0;vertical-align:top;display:inline-block;}
.iTeffa .logobox .copyright p {font-family: "impact"; color: #fff; font-size: 21pt; text-transform: uppercase;}
.iTeffa .logobox .copyright img,p {vertical-align:middle; display:inline-block;}
.iTeffa .logobox .copyright img{width: 70px;height: 60px; margin:0 -7px 25px 0;}
.iTeffa .logobox .player {font-size: 10pt; color: #fff; position: absolute; top: 12px; text-align-last: right; opacity: 0.85;text-align-last: right;right:15px;}
.iTeffa .logobox .online {font-size: 10pt; color: #fff; position: absolute; top: 57px; text-align-last: right; opacity: 0.85;text-align-last: right;right:25px;}
.iTeffa .inGameHud .help {position: absolute; top: 40%; right: 0px; transform: translate(-40%)}

.iTeffa .inGameHud .speedometer .speed {position: absolute;bottom: 0vh;right: 3vh;width: 26.85185vh;height: unset;}
.iTeffa .inGameHud .speedometer .speed path {will-change: auto;stroke-width: 0.74074vh;stroke-miterlimit: round;-webkit-transition: stroke-dashoffset 850ms ease-in-out;transition: stroke-dashoffset 850ms ease-in-out;}
.iTeffa .inGameHud .speedometer .speed path.bg {stroke: rgba(255, 255, 255, 0.2);}
.iTeffa .inGameHud .speedometer .speed path.meter {stroke: #ff5a1b;} 
.iTeffa .inGameHud .speedometer .fuel {position: absolute;bottom: 1.8vh;right: 32.59259vh;width: 7.40741vh;height: unset;}
.iTeffa .inGameHud .speedometer .fuel path {will-change: auto;stroke-width: 0.74074vh;stroke-miterlimit: round;-webkit-transition: stroke-dashoffset 850ms ease-in-out;transition: stroke-dashoffset 850ms ease-in-out;}
.iTeffa .inGameHud .speedometer .fuel path.bg {stroke: rgba(255, 255, 255, 0.2);}
.iTeffa .inGameHud .speedometer .fuel path.meter {stroke: #fff;}
.iTeffa .inGameHud .speedometer .icon_fuel {width: 1.48148vh;position: absolute;bottom: 4vh;right: 35.46296vh;} 
.iTeffa .inGameHud .speedometer .lamp_list {width: 13.88889vh;-webkit-box-align: center;-ms-flex-align: center;align-items: center;position: absolute;bottom: 2.5vh;right: 9.2vh;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.iTeffa .inGameHud .speedometer .lamp_list .engine {width: 2.22222vh;}
.iTeffa .inGameHud .speedometer .lamp_list .lamp {width: 2.40741vh;}
.iTeffa .inGameHud .speedometer .lamp_list .door {width: 1.75926vh;}
.iTeffa .inGameHud .speedometer .lamp_list .sec {width: 1.75926vh;}
.speed_count .bg {opacity: 0.19;}
.speed_count {position: absolute;-webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; font-size: 5.92593vh; color: #ffffff; font-weight: 900; right: 10.5vh; bottom: 8vh;}
.speed_count .count {display: -webkit-box; display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.speed_count .type {text-transform: uppercase;font-size: 1.2963vh;font-weight: 900;opacity: 0.19;}

.noty_theme__fivestar.noty_bar {margin: 4px 0;overflow: hidden;position: relative;background-color: rgba(0, 0, 0, 0.6);box-shadow: rgba(0, 0, 0, 0.6) 0 0 10px 0;}
.noty_theme__fivestar.noty_bar .noty_body {padding: 1.25em;font-size: 12pt;}
.noty_theme__fivestar.noty_bar .noty_buttons {padding: 0 10px 0.5em 10px;}
.noty_theme__fivestar.noty_type__alert, .noty_theme__fivestar.noty_type__notification {border-radius: 10px;margin-bottom: 15px;}
.noty_theme__fivestar.noty_type__alert .text i, .noty_theme__fivestar.noty_type__notification .text i {color: #ffffff;margin-top: -6%;font-size: 2.4vh;margin-left: 0%;font-weight: 500;font-style: inherit;letter-spacing: 0.03em;}
.noty_theme__fivestar.noty_type__warning {border-radius: 10px;margin-bottom: 15px;}
.noty_theme__fivestar.noty_type__warning .text i {color: #ffffff;margin-top: -6%;font-size: 2.4vh;margin-left: 0%;font-weight: 500;font-style: inherit;letter-spacing: 0.03em;}
.noty_theme__fivestar.noty_type__error {border-radius: 10px;margin-bottom: 15px;}
.noty_theme__fivestar.noty_type__error .text i {color: #ffffff;margin-top: -6%;font-size: 2.4vh;margin-left: 0%;font-weight: 500;font-style: inherit;letter-spacing: 0.03em;}
.noty_theme__fivestar.noty_type__info, .noty_theme__fivestar.noty_type__information {border-radius: 10px;margin-bottom: 15px;}
.noty_theme__fivestar.noty_type__info .text i, .noty_theme__fivestar.noty_type__information .text i {color: #ffffff;margin-top: -6%;font-size: 2.4vh;margin-left: 0%;font-weight: 500;font-style: inherit;letter-spacing: 0.03em;}
.noty_theme__fivestar.noty_type__success {border-radius: 10px;margin-bottom: 15px;}
.noty_theme__fivestar.noty_type__success .text i {color: #ffffff;margin-top: -6%;font-size: 2.4vh;margin-left: 0%;font-weight: 500;font-style: inherit;letter-spacing: 0.03em;}
.text {line-height: 1.2em;font-size: 13pt;margin-top: 6%;margin-left: 15%;color: #ffffffe0;font-weight: 100;}
.noty_theme__fivestar img {position: absolute;width: 7%;margin-top: -0.5%;margin-left: -10%;}
.text i {float: left;font-size: 34pt;margin-right: 30px;}
.noty_progressbar {display: none; }
.noty_has_timeout.noty_has_progressbar .noty_progressbar {display: block;position: absolute;left: 0;bottom: 0;height: 3px;width: 100%;background-color: #646464;opacity: 0.2;filter: alpha(opacity=10); }
.noty_bar {-webkit-transform: translate(0, 0) translateZ(0) scale(1, 1);-ms-transform: translate(0, 0) scale(1, 1);transform: translate(0, 0) scale(1, 1);-webkit-font-smoothing: subpixel-antialiased;overflow: hidden; }
.noty_effects_open {opacity: 0;-webkit-transform: translate(50%);-ms-transform: translate(50%);transform: translate(50%);-webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards; }
.noty_effects_close {-webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards; }
.noty_fix_effects_height {-webkit-animation: noty_anim_height 75ms ease-out;animation: noty_anim_height 75ms ease-out; }
.noty_close_with_click {cursor: pointer; }
.noty_close_button {position: absolute;top: 2px;right: 2px;font-weight: bold;width: 20px;height: 20px;text-align: center;line-height: 20px;background-color: rgba(0, 0, 0, 0.05);border-radius: 2px;cursor: pointer;-webkit-transition: all .2s ease-out;transition: all .2s ease-out; }
.noty_close_button:hover {background-color: rgba(0, 0, 0, 0.1);}
.noty_modal {position: fixed;width: 100%;height: 100%;background-color: #000;opacity: .3;left: 0;top: 0; }
.noty_modal.noty_modal_open {opacity: 0;-webkit-animation: noty_modal_in .3s ease-out;animation: noty_modal_in .3s ease-out; }
.noty_modal.noty_modal_close {-webkit-animation: noty_modal_out .3s ease-out;animation: noty_modal_out .3s ease-out;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards; }
.noty_layout_mixin, #noty_layout__top, #noty_layout__topLeft, #noty_layout__topCenter, #noty_layout__topRight, #noty_layout__bottom, #noty_layout__bottomLeft, #noty_layout__bottomCenter, #noty_layout__bottomRight, #noty_layout__center, #noty_layout__centerLeft, #noty_layout__centerRight {position: fixed;margin: 0;padding: 0;-webkit-transform: translateZ(0) scale(1, 1);transform: translateZ(0) scale(1, 1);-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-font-smoothing: subpixel-antialiased;filter: blur(0); -webkit-filter: blur(0); width: 325px; }

#noty_layout__top {top: 0;left: 5%;width: 325px;}
#noty_layout__topLeft {top: 20px;left: 20px;width: 325px;}
#noty_layout__topCenter {top: 5%;left: 50%;width: 325px;-webkit-transform: translate(-webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1); }
#noty_layout__topRight {top: 20px;right: 20px;width: 325px; }
#noty_layout__bottom {bottom: 0;left: 5%;width: 325px; }
#noty_layout__bottomLeft {bottom: 20px;left: 20px;width: 325px; }
#noty_layout__bottomCenter {bottom: 5%;left: 50%;width: 325px;-webkit-transform: translate(-webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1); }
#noty_layout__bottomRight {bottom: 20px;right: 20px;width: 325px; }
#noty_layout__center {top: 50%;left: 50%;width: 325px;-webkit-transform: translate(-webkit-calc(-50% - .5px), -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1); }
#noty_layout__centerLeft {top: 50%;left: 20px;width: 325px;-webkit-transform: translate(0, -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1); }
#noty_layout__centerRight {top: 50%;right: 20px;width: 325px;-webkit-transform: translate(0, -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1); }
#noty_layout__bottomCenter, #noty_layout__topCenter {width: 56vh;}
#noty_layout__topLeft, #noty_layout__topRight, #noty_layout__bottomLeft, #noty_layout__bottomRight, #noty_layout__centerLeft, #noty_layout__centerRight, #noty_layout__center {width: 450px;}

#chat {position: absolute;width: 100%;height: 100%;display: block;z-index: 0;color: white;color: rgb(255, 255, 255);line-height: 24px;font-weight: bold;font-family: Arial, sans-serif;font-size: 16px;letter-spacing: 0.4px;margin-left: 10px;user-select: none;}
#chat ul#chat_messages {height: 160px;padding: 0 0.5vh 0 0.5vh;width: 40%;min-height: 2vh;font-size: 1.4vh;word-wrap: break-word;font-family: Arial, sans-serif;text-shadow: 0px 0px 2px black,0px 0px 2px black,0px 0px 2px black,0px 0px 2px black;overflow-y: scroll;}
#chat ul#chat_messages > li {list-style-type: none;}
#chat input#chat_msg {color: white;background: rgba(0,0,0,0.5);outline: none;border: none;border-radius: 15px;font-family: Arial, sans-serif;font-size: 15px;line-height: 20px;width: 25vw;padding: 5px 5px 5px 15px;}
#chat_channels li {float: left;border: 1px solid black;list-style-type: none;padding: 5px 15px;margin: 5px 5px 0px 0px;text-transform: uppercase;font-size: 13px;text-shadow: none;}
#chat_channels li#active {color: rgb(165,69,165);}

@-webkit-keyframes noty_modal_in {100% {opacity: .3; } }
@keyframes noty_modal_in {100% {opacity: .3;}}
@-webkit-keyframes noty_modal_out {100% {opacity: 0;}}
@keyframes noty_modal_out {100% {opacity: 0;}}
@keyframes noty_modal_out {100% {opacity: 0;}}
@-webkit-keyframes noty_anim_in {100% {-webkit-transform: translate(0);transform: translate(0);opacity: 1;}}
@keyframes noty_anim_in { 100% {-webkit-transform: translate(0);transform: translate(0);opacity: 1;}}
@-webkit-keyframes noty_anim_out {100% {-webkit-transform: translate(50%);transform: translate(50%);opacity: 0;}}
@keyframes noty_anim_out {100% {-webkit-transform: translate(50%);transform: translate(50%);opacity: 0;}}
@-webkit-keyframes noty_anim_height {100% {height: 0;}}
@keyframes noty_anim_height {100% {height: 0;}}

::-webkit-scrollbar {width: 0px;}
::-webkit-scrollbar-track {box-shadow: inset 0 0 6px rgba(0,0,0,0.3);border-radius: 10px;}
::-webkit-scrollbar-thumb {border-radius: 10px; box-shadow: inset 0 0 6px rgba(0,0,0,0.5);}

@media (min-width: 1601px) and (max-width: 2560px) {
    .iTeffa .inGameHud .adaptivhud {zoom: 100%}
}

@media (min-width: 1401px) and (max-width: 1600px) {
    .iTeffa .inGameHud .adaptivhud {zoom: 84%}
}

@media (min-width: 1301px) and (max-width: 1400px) {
    .iTeffa .inGameHud .adaptivhud {zoom: 84%}
}

@media (min-width: 1024px) and (max-width: 1300px)  {
    .iTeffa .inGameHud .adaptivhud {zoom: 70%}
}

@media screen and (min-height: 1080px) {
    #chat {font-size: 18px !important;}
}
