# Автор: iTeffa#6615
# Сайт: iTeffa.com
# Николай Довгопол
# +38(094)890-51-44
# vk.com/coder_desing

# Определяем кодеровку сайта
AddDefaultCharset utf-8

# Основная страница
DirectoryIndex index.php

# Настройки для сайта в рабочем режиме
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_flag log_errors on

# Отключить логирование повторяющихся ошибок
php_flag ignore_repeated_errors off
php_flag ignore_repeated_source off

php_flag report_memleaks on
php_flag track_errors on
php_value docref_root 0
php_value docref_ext 0
php_value error_reporting -1
php_value log_errors_max_len 0

# Защищаем .htaccess файл
<files .htaccess>
order allow,deny
deny from all
</files>

# Включение PHP в .html файлах
RemoveHandler .html .htm
AddType application/x-httpd-php .php .htm .html .phtml

# Включаем отслеживание сим-ссылок
Options +FollowSymLinks

# Включаем url_rewriting
RewriteEngine on

# Защита: Блокируем все ссылки, содержащие <script>
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
# Защита: Блокируем все скрипты, которые пытаются изменить переменные PHP Globals:
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Защита: Блокируем все скрипты, которые пытаются изменить переменную _REQUEST:
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Защита: Перенаправляем все подобные на страницу с ошибкой 403 - запрещено
RewriteRule ^(.*)$ index.php [F,L]

# Ядро сайта
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
RewriteRule ^id(.*) account/index.php?id=$1 [L,QSA]

# Сжимаем элементы с помощью mod_deflate
<ifmodule mod_deflate.c="">
<filesmatch .(js|css)$="">
SetOutputFilter DEFLATE
</filesmatch>
</ifmodule>

# Усиливаем кеширование
FileETag MTime Size
<ifmodule mod_expires.c>
<filesmatch ".(jpg|gif|png|css|js)$">
ExpiresActive on
ExpiresDefault "access plus 1 year"
</filesmatch>
</ifmodule>

# Сжимаем компоненты сайта путем включения Gzip
AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/javascript text/css application/x-javascript
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4.0[678] no-gzip
BrowserMatch bMSIE !no-gzip !gzip-only-text/html

# Переопределяем страницы ошибок
ErrorDocument 400 /pages/error.php?id=400
ErrorDocument 401 /pages/error.php?id=401
ErrorDocument 402 /pages/error.php?id=402
ErrorDocument 403 /pages/error.php?id=403
ErrorDocument 404 /pages/error.php?id=404
ErrorDocument 500 /pages/error.php?id=500
ErrorDocument 502 /pages/error.php?id=502
